<%= @notification.exception.class %>: <%= @notification.exception.message %>

<% @sessions.each do |name, session| %>
  <table style="border-collapse: collapse; border-spacing: 0; width: 100%; border: double; margin-bottom: 10px;">
    <thead style="background-color: #EFEFEF; font-size: 10pt; font-weight: bold;">
      <tr>
        <td>
          <h4><%= name %>:</h4>
        </td>
        <td></td>
      </tr>
    </thead>
    <tbody style="font-size: 11pt;">
      <% if session.is_a?(Hash) %>
        <% session.each do |key, value| %>
          <tr>
            <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= key %></td>
            <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= value %></td>
          </tr>
        <% end %>
      <% else %>
        <% session.each do |session_step| %>
          <tr>
            <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= session_step %></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>