<table style="border-collapse: collapse; border-spacing: 0; width: 100%; border: double; margin-bottom: 10px;">
  <thead style="background-color: #EFEFEF; font-size: 10pt; font-weight: bold;">
  <tr>
    <td><h4>ERROR:</h4></td>
    <td></td>
  </tr>
  </thead>
  <tbody style="font-size: 11pt;">
    <tr>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;">Error Class</td>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= @notification.exception.class %></td>
    </tr>
    <tr>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;">Error Message</td>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= @notification.exception.message %></td>
    </tr>
    <% if @settings.sections.include?(:custom_data) %>
      <tr>
        <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;">Custom Message</td>
        <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= @notification.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @settings.sections.include?(:custom_data) %>
  <table style="border-collapse: collapse; border-spacing: 0; width: 100%; border: double; margin-bottom: 10px;">
    <thead style="background-color: #EFEFEF; font-size: 10pt; font-weight: bold;">
    <tr>
      <td><h4>Custom Data:</h4></td>
      <td></td>
    </tr>
    </thead>
    <tbody style="font-size: 11pt;">
    <% @notification.custom_data.each do |k, v| %>
      <tr>
        <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= k %></td>
        <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= v.inspect %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if @settings.sections.include?(:backtrace) %>
<table style="border-collapse: collapse; border-spacing: 0; width: 100%; border: double; margin-bottom: 10px;">
  <thead style="background-color: #EFEFEF; font-size: 10pt; font-weight: bold;">
  <tr>
    <td><h4>Backtrace:</h4></td>
    <td></td>
  </tr>
  </thead>
  <tbody style="font-size: 11pt;">
  <%  @notification.exception.backtrace.each do |backtrace_step| %>
    <tr>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= backtrace_step %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<% if @settings.sections.include?(:request) %>
<table style="border-collapse: collapse; border-spacing: 0; width: 100%; border: double; margin-bottom: 10px;">
  <thead style="background-color: #EFEFEF; font-size: 10pt; font-weight: bold;">
  <tr>
    <td><h4>Request:</h4></td>
    <td></td>
  </tr>
  </thead>
  <tbody style="font-size: 11pt;">
  <% @notification.request.each do |k, v| %>
    <tr>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= k %></td>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= v.inspect %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<% if @settings.sections.include?(:session) %>
<table style="border-collapse: collapse; border-spacing: 0; width: 100%; border: double; margin-bottom: 10px;">
  <thead style="background-color: #EFEFEF; font-size: 10pt; font-weight: bold;">
  <tr>
    <td><h4>Session:</h4></td>
    <td></td>
  </tr>
  </thead>
  <tbody style="font-size: 11pt;">
  <% @notification.session.each do |k, v| %>
    <tr>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= k %></td>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= v.inspect %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>


<% if @settings.sections.include?(:environment) %>
<table style="border-collapse: collapse; border-spacing: 0; width: 100%; border: double; margin-bottom: 10px;">
  <thead style="background-color: #EFEFEF; font-size: 10pt; font-weight: bold;">
  <tr>
    <td><h4>Environment:</h4></td>
    <td></td>
  </tr>
  </thead>
  <tbody style="font-size: 11pt;">
  <% @notification.environment.each do |k, v| %>
    <tr>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= k %></td>
      <td style="border: solid 1px #000000; margin: 0; padding: 4pt 6pt;"><%= v.inspect %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
